body{
    font-family: 'Roboto', sans-serif;
}
header{
    margin-top: 75px;
}
#testimonial{
    background: #c9e9fc;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px ;

}
footer{
  
    
    background:  url(../img/home_1.jpg) no-repeat;

}
.boton {
	display: inline-flex;
	align-items: center; 
    justify-content: center; 
	width: 97%;
	height: 50px;
	background: #fff;
	color: rgb(7, 96, 128);
	
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
    transition: .3s ease all;
	border-radius: 5px;
	position: relative; 
	overflow: hidden; 
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}

.boton.dos{
	position:relative;
	width: 100%;
	
}
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon:hover{
    background: #cc6600;
    box-shadow: 0 0 10px #cc6600, 0 0 40px #cc6600, 0 0 80px #cc6600;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#cc6600);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#cc6600);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#cc6600);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#cc6600);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon2{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
}

.btn-neon2:hover{
    background: #c9e9fc;
    box-shadow: 0 0 10px #c9e9fc, 0 0 40px #c9e9fc, 0 0 80px #c9e9fc;
    transition-delay: 1s;
 }

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#c9e9fc);
 }


 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#c9e9fc);
}



 .btn-neon2:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#c9e9fc);
}

.btn-neon2:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#c9e9fc);
}


.btn-neon2:hover #span4{

    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

