<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/flatico.png">
    <link rel="stylesheet" href="static.css/style.css">
    <link rel="stylesheet" href="static.css/dos.css">
    <link rel="stylesheet" href="static.css/cuatro.css">
    <!-- FUentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Scripts -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <title>LibreryService</title>
</head>
<body>
    <nav class="">
        
      <nav class="navbar navbar-expand-lg navar-primary bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">LibreryService</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto" >
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/libros}">Libros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/autores}">Autores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/editoriales}">Editoriales</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" th:href="@{/prestamos}">Préstamos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/clientes}">Clientes</a>
              </li>
            
          </ul>
        </div>
        </div>
      </nav>
      <!-- HEADER -->
   
        
    </div>
    <section id="tabla">
    <header class="contenedor-titulo" style="margin: 70px;height: 0px; text-align: center;">
            <h2>Listado de Editoriales</h2>
        </header>
       <div class="row">
                <div class="col-lg-3" style="margin-left:282px; margin-top:20px">
                    <a th:href="@{/editoriales/listar}" class="btn btn-light btn-sm mb3" >Listar Editoriales</a>
                </div>
                
            </div>
        <div class="contenedor" style="margin: auto; width: 800px; text-align: center;  ">
            
                    <div class="col-mt-2">
                        <table class="table table-bordered table-dark">
                            <thead>
                            <tr>
                                <th scope="col">Nombre</th> 
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                             </tr>
                             </thead>
                            <tbody >
                            <tr th:each="editorial:${editoriales}" >                                      
                             <td th:text="${editorial.nombre}"></td>
                             <td>
                                    <span th:if="${editorial.alta}">Alta</span>
                                    <span th:unless="${editorial.alta}">Baja</span>
                              </td>
                              
                             <td>
                            <a th:href="@{/editoriales/editar/{id}(id=${editorial.id})}" class="btn btn-info" >Editar</a>
                            <a th:href="@{/editoriales/baja/{id}(id=${editorial.id})}" class="btn btn-danger" >Dar de Baja</a>
                            <a th:href="@{/editoriales/alta/{id}(id=${editorial.id})}" class="btn btn-success" >Dar de Alta</a>
                            <a th:href="@{/editoriales/eliminar/{id}(id=${editorial.id})}" class="btn btn-warning" >Eliminar</a>
                            </td>
                            </tr>
                  
                             </tbody>
                        </table>
                    </div>
                    <div class="row" style=" margin-right:50px; padding:auto; margin-top: -10px;">
                        <div class="col-lg-1">
                            <a th:href="@{/editoriales/nueva}" class="btn btn-primary btn-sm mb3">Agregar Editorial</a>
                        </div>
                    
                    
   
        </div>
                
      </div>

    </section>
             
    <!-- Scripts -->
<script>
    window.sr = ScrollReveal();

sr.reveal('.navbar', {
  duration: 2000,
  origin: 'bottom'
});

sr.reveal('.contenedor-titulo', {
  duration: 2000,
  origin: 'left',
  distance: '300px'
});

sr.reveal('.header-content-right', {
  duration: 2000,
  origin: 'right',
  distance: '300px'
});

sr.reveal('.header-btn', {
  duration: 2000,
  delay: 1000, 
  origin: 'bottom'
});

sr.reveal('#tabla div', {
  duration: 2000,
  origin: 'left',
  distance: '300px',
  viewFactor: 0.2
});
// Smoth scrolling
document.querySelectorAll('a[href^="#"]').forEach(anchor => {
  anchor.addEventListener('click', function (e) {
    e.preventDefault();

    document.querySelector(this.getAttribute('href')).scrollIntoView({
      behavior: 'smooth'
    });
  });
});

    
</script>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>